.container {
    display: flex;
    min-height: 300px;
    height: 100%;
    margin: 0px auto;
}

.red {
    width: 20%;
    background-color: red;
}

.blue {
    width: 50%;
    background-color: blue;
}

.yellow {
    width: 30%;
    background-color: yellow;
}

@media screen and (max-width: 991px) {
    .container {
        flex-wrap: wrap;
        min-height: 600px;
    }

    .red {
        width: 50%;
    }

    .yellow {
        width: 100%;
    }
}

@media screen and (max-width: 575px) {
    .container {
        min-height: 900px;
    }

    .red {
        width: 100%;
    }

    .blue {
        width: 100%;
    }
}