html {
    font-family: Lobster;
    color: grey;
    padding: 16px 60px;
    font-size: 30px;
}


img {
    height: 320px;
    width: 600px;
    border-radius: 26px;
}

header {
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    font-weight: bold;
}

header h1 {
    margin-bottom: 0px;
}

header h4 {
    margin-top: 0px;
}

article {
    border: 1px solid grey;
    border-radius: 26px;
    width: 100%;
    padding-top: 20px;
}

article img {
    width: 90%;
}

.social img {
    height: 100px;
    width: 100px;
    border-radius: 0px;
}

.copyright {
    padding-top: 40px;
}