.background {
    margin: 30px;
    background-color: rgb(180, 96, 96);
    padding: 30px;
}

td,
h1 {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
}

.table-field {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
}