.background {
    display: flex;
    flex-direction: column;
    margin: 30px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border: 1px;
    border-color: grey;
    border-style: solid;
    border-radius: 20px;
}

.container {
    display: flex;
    justify-content: center;
    padding: 20px;
    background-color: rgb(240, 233, 233);
}

.table-field {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: white;
}

table {
    margin: 10px;
}

/*TOCA CREAR AQUÍ LAS CLASES PARA PINTAR LA TABLA*/

td,
h1 {
    text-align: center;
}