$nav-bg: rgb(152, 117, 175);

.container {

    display: grid;
    grid-template-columns: repeat(3, 33.3%);
    grid-template-areas:
        "nav nav nav"
        "img1 img2 .";

    column-gap: 30px;

    nav {
        background-color: $nav-bg;
        grid-area: nav;

        ul {
            display: flex;
            gap: 38px;
            padding: 10px 46px;

            .active {
                color: white;
            }

            li {
                list-style: none;
                font-size: 26px;
            }
        }
    }

    :nth-child(2) {
        grid-area: img1;
    }

    :nth-child(3) {
        grid-area: img2;
    }

    .card {
        border: 1px solid black;
        border-radius: 14px;
        text-align: center;
        padding: 20px;

        img {
            border-radius: 38px;
            width: 100%;
        }
    }
}